<section class = "ourServices">
  <div class = "ourServicesTitle">OUR SERVICES</div>
  <div class = "ourServicesDescribtion">Value is a product of trust. The trust your clients have in you. The trust you have in your people</div>

  <div class = "ourServicesMenu">
    <ul class = "ourServicesMenuList">
      <li><div class = "ourServicesMenuListImage"></div><div class = "ourServicesMenuListTitle">Consulting</div></li>
      <li><div class = "ourServicesMenuListImage"></div><div class = "ourServicesMenuListTitle">Financial</div></li>
      <li><div class = "ourServicesMenuListImage"></div><div class = "ourServicesMenuListTitle">Tax help</div></li>
      <li><div class = "ourServicesMenuListImage"></div><div class = "ourServicesMenuListTitle">Money</div></li>
      <div class="clearfix"></div>
    </ul>

  </div>

</section>
