<section class = "ourTeam">
  <div class = "ourTeamTitle">OUR TEAM</div>
  <div class = "ourTeamDescription">Each and every one of our employees represent the spirit of our company: ... Click through our Employee Spotlights to learn more about our team.</div>

  <div class = "ourTeamContent">
    <ul class = "ourTeamContetntList">
      <li class = "ourTeamContetntListImage"></li>
      <li><div class = "ourTeamContentListMembersDescriptionTitle">Mr. Darid</div><div class = "ourTeamContentListMembersDescriptionDescription">During the company’s early years, Anthony acted as the sole engineer, designer, and support representative for the entire Squarespace platform</div></li>
      <li class = "ourTeamContetntListImage"></li>
      <li><div class = "ourTeamContentListMembersDescriptionTitle">Mr. Jasack</div><div class = "ourTeamContentListMembersDescriptionDescription">A seasoned engineering leader with extensive experience managing and growing software development teams in high-growth startups.</div></li>
      <li class = "ourTeamContetntListImage"></li>
      <li><div class = "ourTeamContentListMembersDescriptionTitle">Mr. Mikki</div><div class = "ourTeamContentListMembersDescriptionDescription">As the Chief Creative Officer of Squarespace, Mikki leads the company’s award-winning creative team, whose work encapsulates all brand creative, brand design and product design efforts for the company. Prior to Squarespace</div></li>
      <li><div class = "ourTeamContentListMembersDescriptionTitle">Mr. Graham</div><div class = "ourTeamContentListMembersDescriptionDescription">Graham brings over 15 years of marketing expertise and leadership to Squarespace, leading the Media and Acquisition Team to implement a strategic media plan optimizing the company's marketing efforts</div></li>
      <li class = "ourTeamContetntListImage"></li>
      <li><div class = "ourTeamContentListMembersDescriptionTitle">Mr. Horold</div><div class = "ourTeamContentListMembersDescriptionDescription">Horold was the Global Director of Paid Media at Edelman and EVP, General Manager for VivaKi’s Audience On Demand™</div> </li>
      <li class = "ourTeamContetntListImage"></li>
      <li><div class = "ourTeamContentListMembersDescriptionTitle">Mr. Dantent</div><div class = "ourTeamContentListMembersDescriptionDescription"> He worked as a Creative Director at Wieden+Kennedy and AKQA, and as an Art Director at Sid Lee. He graduated from RISD with a BFA in graphic design.</div></li>
      <li class = "ourTeamContetntListImage"><div class = "ourTeamContetntListImage"></div></li>
    </ul>
    <div class = "clearfix"></div>
  </div>
</section>
