.images > li {
  height: 584px;
  width: 1351px;
  display: inline-block;
  list-style: none;
  background-color: red;
}

.images > li:nth-child(1){
  background-image: url(../img/Bez_imeni-1.jpg);
}

.images > li:nth-child(2){
  background-image: url(../img/mainImage2.jpeg);
}


.carousel {
  width: 1351px;
  background: #eee;
}

.arrow {
  position: absolute;
  top: 260px;
  background: #ddd;
  border-radius: 15px;
  display: block;
  height: 30px;
  width: 30px;
}
.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 1351px;
  overflow: hidden;
}

.gallery ul {
  height: 584px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}
